.player {
  background: white;
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  box-shadow: 0 -1px 12px 0 rgba(25,25,34,.12);
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}